body {
	font-family:Arial,Helvetica,sans-serif;
	width:1000px;
	padding-top:20px;
	margin:0 auto;
	background:#CADBEC;
}
h1 {
	font-size:28px;
	padding-left:5px;
}
h2 {
	font-size:17px;
	padding:0px;
}
img {
	border:0px;
}
label {
	font-size:16px;
}
#menu {
	width:950px;
}
#main_content {
	position:absolute;
	width:950px;
	min-height:500px;
	height:auto;
	border:3px solid #000000;
	border-radius: 15px;
	font-size:16px;
	margin-top:-20px;
	padding: 0px 25px 15px;
	z-index:-1;
	background:#C9D4DF;
}
#main_content form,input,img {
	margin:3px 0px;
}
#main_navigation {
	position:relative;
	float:left;
	margin-top:-2px;
	vertical-align:text-top;
}
#form_content {
	float:left;
	padding-left:10px;
}
#new_user {
	color:#1240AB;
	border:0px;
	margin-top:-20px;
}
#home_link, #profile_link, #create_link, #my_comics_link, #gallery_link, #creators_link {
	display:inline-block;
	height:30px;
	margin-top:-2px;
	vertical-align:text-top;
	background-image:url("../images/menu.png");
}
#home_link {
	width:85px;
	background-position:5px 40px;
}
#profile_link {
	width:90px;
	background-position:-120px -10px;
}
#create_link {
	width:82px;
	background-position:-253px -10px;
}
#my_comics_link {
	width:127px;
	background-position:-377px -10px;
}
#gallery_link {
	width:90px;
	background-position:-550px -10px;
}
#creators_link {
	width:98px;
	background-position:-685px -10px;
}
#home_link:hover, #profile_link:hover, #create_link:hover, #my_comics_link:hover, #gallery_link:hover, #creators_link:hover{
	background-color:#63ADD0;
}
.text_link {
	float:right;
	margin-top:35px;
	vertical-align:top;
}
.text_link img {
	height:25px;
	padding-right:10px;
}
.text_link img:hover {
	background:#63ADD0;
}
.clearfix {
	clear:both;
}
.error {
	color:#FF0000;
}